<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillUp|Forgot Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/forgetPassword.css' )}}">
</head>

<body>

    <div class="container">
        <div class="image-section">
            <img src="{{url_for('static', filename='images/forgetPassword.avif')}}" alt="Forgot Password">
        </div>
        <div class="form-section">
            <h2>Forgot <br> Your Password ?</h2>
            <form method="POST">
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                <button type="submit" class="reset-btn">RESET PASSWORD</button>
            </form>
            <a href="{{url_for('login')}}" class="back-link">Back to sign in</a>
        </div>
    </div>

</body>

</html>