<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions | Your Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/termscondition.css') }}">
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="container">
        <h1>Terms and Conditions</h1>

        <section>
            <h2>1. Terms</h2>
            <p>
                By accessing the website at https://SkillUp.com, you are agreeing to be bound by these terms of
                service, all applicable laws and regulations, and agree that you are responsible for compliance with any
                applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
                accessing this site. The materials contained in this website are protected by applicable copyright and
                trademark law.

            </p>
        </section>

        <section>
            <h2>2. Use License</h2>
            <ol>
                <li>Permission is granted to temporarily download materials for personal, non-commercial use.</li>
                <li>Under this license, you may not:
                    <ul>
                        <li>Modify or copy the materials.</li>
                        <li>Use the materials for commercial purposes.</li>
                        <li>Attempt to reverse engineer any software.</li>
                        <li>Remove copyright or proprietary notices.</li>
                        <li>Transfer the materials to another person or mirror on another server.</li>
                    </ul>
                </li>
                <li>The license terminates automatically if you violate any restrictions.</li>
            </ol>
        </section>

        <section>
            <h2>3. Disclaimer</h2>
            <p>The materials on this site are provided "as is" without warranties of any kind.</p>
        </section>

        <section>
            <h2>4. Limitations</h2>
            <p>In no event shall SkillUp or its suppliers be liable for any damages (including, without limitation,
                damages for loss of data or profit, or due to business interruption) arising out of the use or inability
                to use the materials on SkillUp's website, even if SkillUp or a SkillUp authorised
                representative has been notified orally or in writing of the possibility of such damage. Because some
                jurisdictions do not allow limitations on implied warranties, or limitations of liability for
                consequential or incidental damages, these limitations may not apply to you.</p>
        </section>

        <section>
            <h2>5. Accuracy of materials</h2>
            <p>The materials appearing on SkillUp's website could include technical, typographical, or photographic
                errors. SkillUp does not warrant that any of the materials on its website are accurate, complete or
                current. SkillUp may make changes to the materials contained on its website at any time without
                notice. However SkillUp does not make any commitment to update the materials.</p>
        </section>
        
        <section>
            <h2>6. Links</h2>
            <p>SkillUp has not reviewed all of the sites linked to its website and is not responsible for the
                contents of any such linked site. The inclusion of any link does not imply endorsement by SkillUp
                of the site. Use of any such linked website is at the user's own risk.</p>
        </section>
        <section>
            <h2>7. Modifications</h2>
            <p>SkillUp may revise these terms of service for its website at any time without notice. By using this
                website you are agreeing to be bound by the then current version of these terms of service.</p>
        </section>
        <section>
            <h2>8. Governing laws</h2>
            <p>These terms and conditions are governed by and construed in accordance with the laws of India and you
                irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        </section>
        <section>
            <h2>9. Communication Policy</h2>
            <p>Upon accepting or agreeing to Terms & Conditions across our platforms, SkillUp may use the
                information submitted by you to respond to any queries raised by you pursuant to your use and access to
                the Website. We may also use this information to send you e-mails, Whatsapp messages, calls and SMS for
                administrative and marketing purposes, through its servers and systems; or through third party e-mails,
                Whatsapp messages, calls and SMS service providers. Users can unsubscribe/opt-out from our
                communications sent on e-mails, Whatsapp messages, calls and SMS anytime: Please email us at
                grievanceofficer@masaischool.com to unsubscribe from e-mails, Whatsapp messages, calls and SMS; User can
                also unsubscribe from emails, by clicking the "Unsubscribe URL" mentioned in the footer of the emails.
            </p>
        </section>
        <section>
            <h2>10. Program Fee and Refund Policy</h2>
            <p>Participants who wish to withdraw from any of the IIT Programs, either before the commencement of the
                session or subsequent to the commencement of the sessions, will not be eligible for any refund of fees.
                SkillUp holds absolute and sole discretion and reserves the right to offer scholarships and special
                schemes from time to time for specific categories of participants, based on specific dates, or any other
                manner it deems fit.
                SkillUp reserves the absolute and sole discretion and right to accept or reject any request for a
                Change in batch and/or adjustment In case of any code of conduct violation or other exceptional
                circumstances, SkillUp has the absolute discretion and the right to refuse service or terminate any
                participant from attending further sessions.
                If the student has defaulted in EMI payments either to our NBFC partners or direct NACH to Masai, Masai
                School reserves the right to restrict/remove them from the course platform, and students would not be
                entitled to any course completion certificate.</p>
        </section>
    </div>

    {%endblock%}

</body>

</html>